src/main/resources/wsdl/countries.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.librarian.xyz.com/soap/countries" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="src/main/resources/countries.xsd" targetNamespace="src/main/resources/countries.xsd">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.librarian.xyz.com/soap/countries" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.librarian.xyz.com/soap/countries">
            <xs:element name="GetCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Country" type="tns:Country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Country">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="isoCode" type="xs:string"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetCountryRequest">
        <wsdl:part element="sch:GetCountryRequest" name="GetCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountryResponse">
        <wsdl:part element="sch:GetCountryResponse" name="GetCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="GetCountry">
            <wsdl:input message="tns:GetCountryRequest" name="GetCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:GetCountryResponse" name="GetCountryResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
